body, html {
  font-family: 'Chivo Mono', monospace;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  height: 60%;
  min-height: 100%;
  margin: 0;
}

/* Custom properties/variables */
:root {
  --main-white: #f0f0f0;
  --main-red: #0e68ad;
  --main-blue: #693838;
  --main-gray: #000000;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media queries to set some font sizes at different screen sizes... */

/* Rest of your CSS styles remain unchanged */

/* Welcome section */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #754632 0%, #422214 100%);
  position: relative;
  overflow: hidden;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-blue);
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--main-blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

/* Rest of your CSS styles remain unchanged */

/* Full-screen overlay */
.welcome-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Adjust the transparency as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Content within the overlay */
.welcome-content {
  text-align: center;
}

.welcome-content img {
  max-width: 100%;
  max-height: 100%;
}

/* Hide the overlay after the animation is complete */
.welcome-overlay.hidden {
  display: none;
}

